$grey: #464547;
$dark-grey: #1A1A1A;
$light-grey: #4A4B4C;
$red: #BF5429;
$grey-30: #B2B2B2;
$grey-55: #8A8C8E;

$lane: "lane", Helvetica, sans-serif;
$opensans: "opensans", Helvetica, sans-serif;
$oswald: "oswald", sans-serif;

.resume-container {
	background-color: #FFFFFF;
	width: 100%;
	max-width: 960px;
	padding: 60px 30px 0 30px;
	margin: 60px auto 0 auto;
}

.resume {

	li {
		border-bottom: 6px solid #F2F2F2;
		padding-bottom: 40px;
		margin-bottom: 40px;

		&:last-child {
			border-bottom: none;
			margin-bottom: 0;
		}
	}

	.res-cols {

		h5 {
			margin-bottom: 1.4em;
		}

		div {
			border-left: 3px solid #F2F2F2;
			padding-left: 2%;
		}

		&:first-child {
			border-left: none;
			padding: 0;
		}
	}

	.res-list {

		li {
			color: $grey-55;
			border-bottom: none;
			padding-bottom: 0;
			margin-bottom: 1em;
		}
	}

	h4 {
		color: $red;
		font-family: $oswald;
		font-weight: 100;
		font-size: 1.4em;
		letter-spacing: 3px;
	}

	h5 {
		color: $dark-grey;
		font-family: $opensans;
		font-size: 1em;
		margin: .3em 0;
	}

	h6 {
		color: $grey-55;
		font-family: $opensans;
		font-size: .8em;
		margin: .4em 0 1.4em 0;
	}

	a {
		color: $red;
		font-family: $opensans;
		font-size: .8em;
		margin-left: 10px;

		&:hover {
			color: $dark-grey;
		}
	}

	p {
		margin-bottom: 60px;
	}

}

@media (max-width: 600px){

	h4, h5, h6 {
		text-align: center;
	}

	.resume-container {

		p {
			text-align: justify;
		}
	}

	.resume {

		.res-cols div {
			border-left: none;
		}

		.column-1 {
			width: 100%;
		}
	}

	.res-list {
		text-align: center;
		margin-bottom: 60px;
	}
}

@media (max-width: 400px){

	.resume {

		a {
			display: inline-block;
			width: 100%;
		}

		p {
			text-align: left;
		}
	}
}