$grey: #464547;
$dark-grey: #1A1A1A;
$light-grey: #4A4B4C;
$red: #BF5429;
$grey-30: #B2B2B2;
$grey-55: #8A8C8E;

$lane: "lane", Helvetica, sans-serif;
$opensans: "opensans", Helvetica, sans-serif;
$oswald: "oswald", sans-serif;

.work-container {
  background-color: #FFFFFF;
  width: 100%;
  max-width: 960px;
  padding: 0 30px;
  margin: 30px auto 0 auto;
}

.work-header {
  text-align: justify;
  padding: 80px 0;
  border-bottom: 6px solid #F2F2F2;
  margin: 0;

  p {
    text-align: left;
    margin: 0;
    position: relative;
    top: -8px;
  }
}

.work-header:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.work {
    text-align: justify;
    font-size: 0em; /*hide whitespace between elements*/
    margin: 0 auto;
    padding: 40px 0 60px 0;
    
    li {
      display: inline-block;
      opacity: 1;
      font-size: 1rem;
      position: relative;
      background-color: $red;
      width: 32%;
      margin-bottom: 2%;
      text-align: center;
    }

    .work-title {
      position: absolute;
      width: 90%;
      height: 90%;
      text-align: center;
      margin: auto;
      top: 0; left: 0; bottom: 0; right: 0;
      display: table;
    }

    h4 {
      display: none;
      text-align: center;
      vertical-align: middle;
      color: white;
      font-size: 1em;
      line-height: 1.6em;
      font-family: $oswald;
      letter-spacing: 3px;
      text-transform: uppercase;
    }
    
    img {
      width: 100%;
      -webkit-transition: opacity 0.4s; 
      -moz-transition:    opacity 0.4s;
      -o-transition:      opacity 0.4s;
    }
}

.no-touch .work li:hover img {
  opacity: 0.1;
  -webkit-transition: opacity 0.4s; 
  -moz-transition:    opacity 0.4s;
  -o-transition:      opacity 0.4s;
}

.no-touch .work li:hover h4 {
  display: table-cell;
}

.work:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.work .placeholder {
  padding-top: 0;
  font-size:0.1;
}

/* work ----------------------------------- INDIVIDUALS */

.concrete-canvas {
  background: url("../img/boards-thumb.jpg");
}

/* ----------------------------------- */


/* MEDIA QUERIES */

@media (max-width: 750px) {

  .work-header .title {
    font-size: 36px;
    line-height: 80px;
  }

}

@media (max-width: 700px) {

  .work {

    li {
      width: 49%;
      margin-bottom: 2%;
    }
  }

}

@media (max-width: 580px) {

  .work-header {
    padding: 60px 0;

    li.column-1 {
      width: 60%;
      margin: 0 auto;
      display: block;
    }

    li.column-2 {
      width: 100%;

      p {
        margin-top: 40px;
      }
    }
  }

}

@media (max-width: 475px) {

  .work {

    li {
      width: 100%;
      margin-bottom: 30px;
    }
  }

}

@media (max-width: 400px) {

  .work-header {

    li.column-1 {
      width: 100%;
    }
  }

}