<div class="intro full">
	<div class="container">
		<h1> HELLO.</h1>
		<p> I'm Richard, and I help shape the web. </p>
	</div>
</div>
<div id="projects" class="work-container">
	<div class="container">
		<ul class="work-header">
			<li class="column-1">
				<h2 class="title">My Work</h2>
			</li>
			<li class="column-2">
				<p> I'm Richard, a graphic designer and aspiring web developer currently living and working in Birmingham, AL. I spend my time learning how to make things work and exploring a variety of creative outlets. When I'm not at my desk, I'm a skateboarder, hiker, and an overall adventure enthusiast.</p>
			</li>
		</ul>
		<div class="clear"></div>
		<ul class="work">
			<a href="#/single/{{ project.link }}" ng-repeat="project in projects">
				<li>
					<div class="work-title">
						<h4> {{ project.title }} </h4>
					</div>
					<img ng-src="images/{{ project.thumb }}" />
				</li>
			</a>
		</ul>
	</div>
</div>