<div id="projects" class="resume-container">
	<div class="container">
		<ul class="resume">
			<li>
				<h4>EXPERIENCE</h4>
				<h5>The Iron Yard — Atlanta, GA <a href="http://theironyard.com/locations/atlanta/">(Learn More)</a></h5>
				<h6>Front End Engineering Student: Fall 2014</h6>
				<p>
					The Iron Yard is a three-month code school focusing on development of web applications using JavaScript. I built and deployed a variety of applications such as blogging platforms, interactive games and social websites. Our projects involved everything from the fundamentals of structure and styling (using tools such as Sass and Bourbon/Neat), to JavaScript frameworks (AngularJS and Backbone).
				</p>
				<h5>Books-A-Million — Birmingham, AL <a href="http://www.booksamillion.com/">(Learn More)</a></h5>
				<h6>Digital Designer: Summer 2012 – Present</h6>
				<p>
					My responsibilities at BAM’s corporate office included designing and coding email campaigns, creating and maintaining websites, developing in-store signage and managing a variety of creative projects from within the marketing department.
				</p>
				<h5>Shred Ready — Auburn, AL <a href="http://shredready.com/">(Learn More)</a></h5>
				<h6>Graphic Designer: Spring 2010 – Spring 2011, Fall 2011 – Summer 2012</h6>
				<p>
					At Shred Ready, a watersport helmet company, I managed any and all graphic design needs, such as creating seasonal catalogues, magazine ads, tradeshow exhibits, web banners, and helmet graphics, as well as managing all product photography, website content, and technical drawings.
				</p>
			</li>
			<li class="res-cols">
				<h4>SKILL</h4>
				<div class="column-1">
					<h5>Languages</h5>
					<ul class="res-list">
						<li>JavaScript</li>
						<li>HTML5</li>
						<li>CSS3/SASS</li>
					</ul>
				</div>
				<div class="column-1">
					<h5>Frameworks</h5>
					<ul class="res-list">
						<li>AngularJS</li>
						<li>Backbone</li>
					</ul>
				</div>
				<div class="column-1">
					<h5>Tools</h5>
					<ul class="res-list">
						<li>Editors: Sublime Text / Atom</li>
						<li>Libraries: jQuery, Underscore, Modernizr, Bourbon/Neat</li>
						<li>Templating: Underscore/ Handlebars</li>
						<li>Backend: Parse/ Firebase</li>
						<li>Version Control: Git</li>
						<li>Design: Adobe Creative Suite</li>
					</ul>
				</div>
			</li>

			<li>
				<h4>EDUCATION</h4>
				<h5>The Iron Yard</h5>
				<h6>Front-End Development / JavaScript — Graduated Winter 2014</h6>
				<h5>Auburn University</h5>
				<h6>BFA in Graphic Design — Graduated Spring 2011</h6>
			</li>

			<li>
				<h4>HONORS / AWARDS</h4>
				<ul class="res-list">
					<li>The Iron Yard Internal Hackathon - Tied for 1st Place 2014</li>
					<li>Hatton Lovejoy Scholarship 2010</li>
					<li>National Society of Collegiate Scholars (NSCS) 2008-2010</li>
					<li>Auburn University Honors College 2007-2010</li>
					<li>SOA Founders Scholarship 2007-2010</li>
					<li>Hooper Knight Scholarship 2007-2010</li>
					<li>Wade Sykes Annual Art Scholarship 2007-2008</li>
					<li>General Liberal Arts Scholarship 2007-2008</li>
				</ul>
		 	</li>
		</ul>
	</div>
</div>